


.App {

}

.active::after {
    content: '';
    display: block;
    border-bottom: 3px solid #DFB48B;
    width: 20px;
    padding-top: 4px;
    cursor: default;
    border-radius: 5px;

}
